@{
    ViewBag.Title = "ajax testing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="result">       
   @Html.Partial("ajax_list")
</div>
@section scripts{  
  @Scripts.Render("~/bundles/jqueryval")          
}