<h2>ajax_list</h2>
  @Ajax.ActionLink("Add Data", "ajax_new_form", new { data = "testing bro" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "result" ,  HttpMethod = "GET"})  