@{
    ViewBag.Title = "multiple_list";
}

<h2>multiple_list</h2>
<br />
@{ Html.RenderAction("partial_acts", "Movie"); }
@{ Html.RenderAction("partial_movies", "Movie"); }

@section scripts{  
  @Scripts.Render("~/bundles/jqueryval")
}